{% extends 'kintore/base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form action="{% url 'kintore:form_list'%}" method="post">
        {{ form.non_field_errors }}
        {% for r_field in form %}
        <p>{{ r_field.label }}:{{r_field }}</p>
        {{ r_field.errors }}
        <br>
        {% endfor %}
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">request</button>
      </form>
    </div>
    <div class="col-md-6">
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        {% autoescape off %}
        {{ plot_html }}
        {% endautoescape %}
    </div>
  </div>
  <div class="row">
      {{df|safe}}
  </div>
  <p>本日の体重は{{w}}kg</p>>
</div>
{% endblock content %}