{% extends 'kintore/base.html' %}
{% block content %}

 <div class="content-wrapper">
   <div class="container-fluid">
     <!-- Breadcrumbs-->
     <ol class="breadcrumb">
       <li class="breadcrumb-item">
         <a href="{% url 'kintore:form_list' %}">TOP</a>
       </li>
     </ol>
     <!-- Example DataTables Card-->
     <div class="card mb-3">
       <div class="card-header">
       <div class="card-body">
<div class="alert alert-info" role="alert">データ更新が正常終了しました。</div>
{% endblock content %}